.saber-highlight {
  position: relative;
  margin: 2rem 0;
  overflow: hidden;
  background: #f5f7fa;
  border-radius: 4px;
}

.saber-highlight:before {
  content: attr(data-lang);
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: .75rem;
  color: #bdc5d1;
}

.saber-highlight-mask, .saber-highlight-code {
  line-height: 1.5;
  background-color: transparent !important;
  text-shadow: none !important;
  box-shadow: none !important;
  margin: 0 !important;
  padding: 1.25rem 1.5rem !important;
  white-space: pre;
}

.saber-highlight-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  color: transparent !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.saber-highlight-code {
  position: relative;
  z-index: 2;
}

.code-line.highlighted {
  background: rgba(3, 169, 244, 0.121);
  box-shadow: inset 2px 0 0 0 rgba(3, 169, 244, 0.278)
}
