.button {
  color: white;
  background: var(--theme-color);
  padding: 15px 20px;
  font-weight: 500;
  font-size: 1.2rem;
  transition: background 0.2s ease-in-out;
  border-radius: 4px;

  &:hover {
    background: rgb(27, 119, 117);
  }

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.button.is-secondary {
  background: #cedfe7;
  color: inherit;
  &:hover {
    background: rgb(179, 207, 220, .8);
  }
}
