:root {
  --border-color: rgb(226, 232, 240);
  --theme-color: rgb(49, 151, 149);
  --header-height: 64px;
  --header-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  --spinner-color: #3880ff;
  --sidebar-width: 288px;
  --main-width: 760px;
  --body-bg: white;
  --header-bg: white;
  --sidebar-bg: white;
  --gray: #666;
  --dark: #343c5a;
  --text-color: #4a5568;
  --text-dark-color: #16161d;
  --text-light-color: #718096;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--body-bg);
  color: var(--text-color);
  font: 17px/1.6 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  &.show-sidebar {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.small-container {
  max-width: 600px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--theme-color);
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.page {
  padding-top: calc(var(--header-height));
  padding-bottom: 20px;
  padding-left: var(--sidebar-width);

  @media (max-width: 992px) {
    padding-left: 0 !important;
  }

  @nest .no-sidebar & {
    padding-left: 0 !important;
  }
}

.main {
  padding: 20px;
  margin: 0 auto;
  max-width: var(--main-width);

  @media (max-width: 992px) {
    width: 100% !important;
  }
}

/* override nprogress */
#nprogress .bar {
  background: var(--spinner-color);
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--spinner-color), 0 0 5px var(--spinner-color);
}

/* override prism css */
.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
  background-color: transparent;
}

/** customize css for markdown-it-footnote */
hr.footnotes-sep {
  position: relative;
  overflow: visible;
  margin: 100px 0 30px 0 !important;

  &:before {
    color: #bdbdbd;
    font-size: 13px;
    padding: 0 20px;
    content: 'footnotes';
    display: inline-block;
    text-transform: uppercase;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.footnote-ref {
  font-size: 13px;
}

.footnote-ref a:focus, .footnote-item:focus .footnote-backref {
  color: red;
  font-weight: bold;
}

.footnote-item:not(:last-child) {
  margin-bottom: .5rem;
}

.footnote-item >*:first-child {
  margin-top: 0;
}

.footnote-item >*:last-child {
  margin-bottom: 0;
}

.saber-highlight {
  border-radius: 4px;
  background: #011627;
}

.saber-highlight:before {
  background: rgba(201, 167, 255, 0.2);
  color: var(--text-color);
  border-radius: 0 0 4px 4px;
  top: 0;
  padding: 0 10px;
}

.code-line.highlighted {
  background: rgba(201, 167, 255, 0.2);
  box-shadow: inset 3px 0 0 0 rgb(201, 167, 255);
}

table, td, th {
  border-collapse: collapse;
  border-color: var(--border-color);
  border-style: solid;
}

td, th {
  border-width: 0 1px 1px 0;
  line-height: 1.5;
  padding: 1em;
  text-align: left;
}

table {
  border-width: 1px 0 0 1px;
  font-size: 13px;
  margin: 2em 0;
  overflow-x: auto;
  width: 100%;
}

code {
  font-size: .875rem;
  background: rgb(254, 252, 191);
  color: rgb(116, 66, 16);
  border-radius: 3px;
  padding: 2px 5px;
  text-shadow: none;
  font-family: "SFMono-Regular", "Roboto Mono", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.show-on-mobile {
  display: none;

  @media (max-width: 768px) {
    display: flex;
  }
}

.hide-on-mobile {
  display: flex;

 @media (max-width: 768px) {
    display: none;
  }
}
