:root {
  --border-color: #edf2f6;
  --theme-color: #3880ff;
  --header-height: 60px;
  --spinner-color: #3880ff;
  --sidebar-width: 270px;
  --header-bg: white;
  --sidebar-bg: white;
  --gray: #666;
  --dark: #000;
  --text-color: #4e5b6a;
  --text-light-color: #73849a;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--text-color);
  font: 16px/1.6 "Roboto", "Helvetica Neue", sans-serif;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: var(--theme-color);
}

/* override nprogress */
#nprogress .bar {
  background: var(--spinner-color);
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--spinner-color), 0 0 5px var(--spinner-color);
}

/* override prism css */
.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
  background-color: transparent;
}

/** customize css for markdown-it-footnote */
hr.footnotes-sep {
  position: relative;
  overflow: visible;
  margin: 100px 0 30px 0 !important;

  &:before {
    color: #bdbdbd;
    font-size: 13px;
    padding: 0 20px;
    content: 'footnotes';
    display: inline-block;
    text-transform: uppercase;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.footnote-ref {
  font-size: 13px;
}

.footnote-ref a:focus, .footnote-item:focus .footnote-backref {
  color: red;
  font-weight: bold;
}

.footnote-item:not(:last-child) {
  margin-bottom: .5rem;
}

.footnote-item >*:first-child {
  margin-top: 0;
}

.footnote-item >*:last-child {
  margin-bottom: 0;
}
