.main {
  margin: 0 var(--sidebar-width);

  @media (max-width: 1280px) {
    margin-right: 0;
  }

  @media (max-width: 768px) {
    margin: 0;
  }
}

.content {
  padding: 20px 2.5rem;
  max-width: 770px;
  margin: var(--header-height) auto;

  @media (max-width: 768px) {
    padding: 20px;
  }
}

.page-title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--dark);
  line-height: 1.2;
}

.page-content {
  line-height: 1.6;
  margin: 20px 0;

  & >*:first-child:not(h2) {
    margin-top: 0;
  }

  & h2,
  & h3,
  & h4,
  & h5 {
    color: var(--dark);

    & code {
      font-size: inherit;
      background: transparent;
      padding: 0;
      font-family: inherit;
    }

    & a {
      color: inherit;
    }

    & a.header-anchor {
      color: var(--theme-color);
      font-size: .85em;
      float: left;
      margin-left: -.87em;
      padding-right: .23em;
      margin-top: .125em;
      opacity: 0;
    }

    &:hover a.header-anchor {
      opacity: 1;
    }
  }

  & h2 {
    font-size: 2rem;
    margin-top: 80px;
    font-weight: 500;
  }

  & h3 {
    margin-top: 40px;
  }

  & p {
    margin: 2rem 0;
  }

  & hr {
    border: none;
    height: 1px;
    background: var(--border-color);
    margin: 30px 0;
  }

  & code {
    font-size: .875rem;
    background: #f5f7fa;
    border-radius: 3px;
    padding: 3px 5px;
    text-shadow: none;
    font-family: "SFMono-Regular", "Roboto Mono", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  }

  & pre code {
    background: transparent;
    padding: 0;
  }

  & ul,
  & ol {
    padding-left: 20px;

    &.task-list {
      list-style: none;
      padding-left: 0;
    }
  }

  & img {
    max-width: 100%;
  }

  & .browser-image {
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  }


  & blockquote {
    background-color: rgba(255,229,100,.3);
    border-left: 8px solid #ffe564;
    padding: 15px 30px 15px 15px;
    margin: 2rem 0;
    color: #6a737d;

    &>*:first-child {
      margin-top: 0;
    }

    &>*:last-child {
      margin-bottom: 0;
    }

    & code {
      background: rgba(27,31,35,.05);
    }
  }

  & .output {
    border: 1px solid var(--border-color);
    padding: 1.25rem 1.5rem;

    &>*:first-child {
      margin-top: 0;
    }

    &>*:last-child {
      margin-bottom: 0;
    }
  }

  & small {
    & code {
      font-size: inherit;
    }
  }
}
