.saber-highlight {
  position: relative;
  overflow: hidden;
  margin: 2rem 0;
  background: #f5f7fa;
  border-radius: 4px;
}

.saber-highlight:before {
  content: attr(data-lang);
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 0.75rem;
  color: #bdc5d1;
}

.saber-highlight-mask,
.saber-highlight-code {
  line-height: 1.5;
  background-color: transparent !important;
  text-shadow: none !important;
  box-shadow: none !important;
  margin: 0 !important;
  padding: 1.25rem 1.5rem !important;
  white-space: pre;
}

.saber-highlight-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  color: transparent !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.saber-highlight-code {
  position: relative;
  z-index: 2;
}

.saber-highlight-code {
  /**
    Fixed a weird line-height issue on Chrome/Edge android
    https://ws1.sinaimg.cn/large/006tNc79gy1g1ypzarsesj30gu0zk76b.jpg
  */
  font-size: 0 !important;
}

.saber-highlight-code code,
.saber-highlight-mask {
  font-size: 0.875rem;
}

.code-line.highlighted {
  background: rgba(3, 169, 244, 0.121);
}

/* Line numbers */
.saber-highlight-line-numbers {
  pointer-events: none;
  font-size: 100%;
  float: left;
  letter-spacing: -1px;
  border-right: 1px solid #999;
  user-select: none;
  text-align: right;
  padding-right: 0.8rem;
  margin-right: .8rem;
  counter-reset: linenumber;
}

.saber-highlight-line-numbers > span {
  counter-increment: linenumber;
  display: block;
}

.saber-highlight-line-numbers > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
}
